@page "/"
@using helpers;
@using System;

<div class ="todo-container">
    <Heading Size="HeadingSize.Is1">Lista To-Do</Heading>
    <div>
        <input type = "text" @bind="todoInput" />
        <button @onclick ="AddTode" >Adicionar</button>
    </div>
    @for (int i = 0; i < todos.Count; i++)
    {
        var index = i;
        var todo = todos[i];

        <div><Check TValue="bool">@todo</Check></div>
    }


</div>



@code{
    public string todoInput { get; set; }
    public List<string> todos = new List<string>();
    public void AddTode(){
        
        todos.Add(todoInput);
        todoInput = "";
    }

    public void RemoveTodo(int index){
        todos.RemoveAt(index);
    }

}